:root {
    --font-color: #eee;
    --font-color-dark: #aaa;
    --border-color: #222;
    --background-light: rgba(0, 0, 0, 0.6);
    --background-light-hover: rgba(99, 99, 99, 0.4);
    --background-dark: rgba(0, 0, 0, 0.9);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 50%;
    line-height: 1.6;
}

body {
    font-family: 'Montserrat', cursive, sans-serif;
    font-size: 1.6rem;
    color: var(--font-color);
    background-image: url(images/kitchcrop.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

header {
    font-size: 2.4rem;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h2 {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

img {
    display: block;
    width: 100%;
}

button {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    border-style: none;
    outline: none;
}

/*
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}
*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    background-color: var(--background-dark);
    border-bottom: 1px solid var(--border-color);
}

.restaurant-name {
    margin-bottom: 1rem;
    font-family: 'Tangerine', cursive;
    font-size: 10rem;
}

.button-nav {
    padding: 2rem;
    font-size: 2rem;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    transition: transform 0.3s;
}

.button-nav.active {
    border-bottom: 2px solid var(--font-color);
}

.button-nav:hover {
    transform: translateY(-10%);
}

.main,
.testimonials {
    max-width: 700px;
    padding: 4rem;
    margin: 6rem auto;
    font-size: 2rem;
    background-color: var(--background-light);
    border: 1px solid var(--border-color);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 325px;
    width: 618px;
    animation: fadeIn 1.5s;
}

.home p {
    padding: 1rem;
}

.home img {
    width: 50%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    opacity: 90%
}

.testimonials {
    display: flex;
    justify-content: space-around;
}

.quote {
    width: 209px;
    height: 150px;
    animation: fadeIn 1.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote {
    font-size: 2rem;
    font-style: italic;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 618px;
    animation: fadeIn 1.5s;
}

.menu-item {
    display: flex;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.menu h2 {
    font-size: 4rem;
}

.item-side img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.item-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item-side p {
    padding: 1rem;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--background-dark);
}